/* Общие стили для всей страницы */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('gif.gif'); /* Укажите путь к вашему GIF */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.payment-container {
    background-color: black;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid white; /* Белый ободок */
}

/* Стиль заголовка */
.payment-form h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Стили для полей ввода */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    outline: none;
}

.input-group input:focus {
    border-color: #1db31d; /* Цвет рамки при фокусе */
}

/* Стиль кнопки оплаты */
.pay-button {
    background-color: white;
    color: black;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

.pay-button:hover {
    background-color: #1db31d; /* Светлый фон при наведении */
    color: white;
}
